#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.articleCard {
  background-color: whitesmoke;
  margin: 20px;
  padding: 20px;
  width: 800px;
  border-style: groove;
}

.articleList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
}

.commentCard {
border-style:initial;
background-color:whitesmoke;
margin-top: 20px;
padding-left: 20px;
padding-right: 20px;

}
