.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.articleCard {
  
  background-color: #fff8f1;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 30vw;
  border-radius: 20px;

}

.articleCard img {
  width: 30vw;
  border-radius: 20px;
}

.articleList {
  display: flex;
  flex-direction: row; /* Updated to "row" */
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
  
}

.commentCard {
border-style:initial;
background-color:whitesmoke;
margin-top: 20px;
padding-left: 20px;
padding-right: 20px;
}

.topicsNav {
  display: flex;
  justify-content:space-around;
  list-style-type:none;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: white;

}

.LinkA {
background-color:#fff8f1;
color: black;
font-size: large;
font-weight: bold;
}

.LinkT {
  background-color:#fff8f1;
  color: black;
  font-size: large;
  font-weight: bold;
}
